body {
  font-family: Oswald;
  background-color: #282c34;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

h1, h3, h3 {
  font-family: Oswald;
  font-weight: 600;
}

h2, h3 {
  margin: 0;
}
